.todo-item-wrapper {
	border: none;
	margin-top: 0.5rem;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
	background-color: white;
	font-size: 1.2rem;
	position: relative;
	padding: 0.7rem 1rem;
	border-radius: 0.4rem;
	text-overflow: ellipsis;
	overflow: hidden;
	transform: scaleX(1);
	transform-origin: left;
}

.delete {
	transform: scaleX(0);
	transition: all 300ms ease-in-out;
	background-color: red;
	color: white;
}

.btns {
	display: flex;
	gap: 0.6rem;
	right: 0px;
	position: absolute;

	transform: translateX(200%);
	transition: all 0.3s ease-in-out;
}
.todo-item-wrapper:hover .btns {
	transform: translateX(-10%);
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 0.4rem;
	transition: all 0.2s ease-in-out;
}
.delete-btn {
	background-color: red;
}
.complete-btn {
	background-color: rgb(8, 157, 63);
}
.edit-btn {
	background-color: blue;
}

.complete-btn:hover {
	background-color: rgb(3, 119, 46);
}
.delete-btn:hover {
	background-color: rgb(196, 8, 8);
}
.edit-btn-submit {
	background-color: rgb(8, 157, 63);
	align-self: flex-start;
	margin-top: 1rem;
}
.edit-btn-submit:hover {
	background-color: rgb(3, 110, 42);
}

.modal-wrapper {
	background-color: rgb(227, 235, 235);
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
}

.modal-content {
	width: clamp(300px, 50%, 400px);
	height: 300px;
	background-color: white;
	z-index: 60;
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
	position: relative;
	box-shadow: 0 0 20px 0.000001px rgb(211, 211, 211);
	border-radius: 0.5rem;
}
.close-btn {
	position: absolute;
	top: -2rem;
	right: -1.6rem;
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 2rem;
	color: rgb(77, 77, 77);
	cursor: pointer;
}

.modal-content-heading {
	text-align: center;
	background-color: coral;
	align-self: flex-start;
	color: white;
	align-self: stretch;
	padding: 0.6rem;
}
.form-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.edit-form {
	width: 70%;
	display: flex;
	flex-direction: column;
}
.edit-form label {
	align-self: flex-start;
	font-size: 2rem;
	margin-bottom: 0.4rem;
}
.edit-form input {
	width: 100%;
	padding: 0.4rem 1rem;
	font-size: 1.5rem;
	height: 1.5rem;
	border-radius: 0.2rem;
	outline: none;
	border: none;
	box-shadow: 0 0 2px 0.4px black;
}

.edit-form input:focus {
	box-shadow: 0 0 2px 0.8px rgb(16, 24, 255);
}
